body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 450px;
    margin: 50px auto;
    height: fit-content;
    background-color:rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 8px 15px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background: #218838;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.panal-heading{
height:200px;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 85px;
padding-right: 89px;
height: auto;
width:fit-content;   
border-radius: 10px; 
text-align: center;         
}